# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.DS_STORE
.idea
.idea/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Latex
*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.synctex
*.run.xml
*.lot
*.lol
*.tdo
*.lof
*.for
*.bib
*.ist